
body {
	background-color: #999999;
	background-image: url("../images/clean-gray-paper.png");
}

.jumbotron {
	border: 0px 1px 1px 1px solid black;
	box-shadow: 0px -5px 10px #333333 inset;
}

.main {
	background-color: #808080;
	box-shadow: 0px -5px 10px #333333 inset;
	border: 1px solid black;
}

.navbar{
	border: 1px solid black;
}
.components {
	padding: 0px 10px;
}

.well {
	margin: 20px 0px;
	padding: 10px;
	background-color: white;
	box-shadow: 0px -5px 10px #333333 inset;
	border: 1px solid black;
}